<style>
    .chart-container {
        position: relative;
        height: 80vh;
        width: 80vw;
    }
</style>
<div id="main-container-user">
    @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                                                    .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                                                    .Select(c => c.Value);
        string role = roles.FirstOrDefault();}


    <section class="right-side">
        @if (role != "Admin")
        {

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="headline text-center mb-1 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                            <h2>Dashboard</h2>
                        </div>
                    </div>

                    <div class="col-md-6 wow fadeInLeft">
                        <div class="image-box style-2 text-left">
                            <div class="image-box-thumbnail">
                                <a href="#"><img src="~/assets/images/tuto-image.jpg" alt=""></a>
                            </div><!-- image-box-thumbnail -->
                            <h4>Tuto en vidéo</h4>
                            <ul class="video-list">
                                <li><a href="https://youtu.be/u7NKRwkr--g" target="_blank">Comment faire une recherche d’offre/Demande d’emploi?</a></li>
                                <li><a href="https://youtu.be/5pXY-zHsx30" target="_blank">Comment Créer une Offre d’emploi?</a></li>
                                <li><a href="https://youtu.be/SM-xVrnBFYQ" target="_blank">Comment créer une demande d’emploi?</a></li>
                                <li><a href="https://youtu.be/jMwOSxhmM3g" target="_blank">Comment mettre un commentaire à un profil?</a></li>
                                <li><a href="https://youtu.be/ysgRKXBlrJ4" target="_blank">Comment gérer la visibilité de ses contacts (Tel/Email) sur JOBTEK</a></li>
                                <h5>La saga d’AYA</h5>
                                <li><a href="https://youtu.be/eyT6BpafTQM" target="_blank">Comment JOBTEK est rentré dans la vie d’AYA?</a></li>
                                <li><a href="https://youtu.be/uDOn5mzOYcc" target="_blank">Comment AYA utilise JOBTEK au quotidien?</a></li>
                            </ul>
                        </div><!-- text-box -->
                    </div>

                    <div class="col-md-6 wow fadeInRight">
                        <div class="image-box style-2 text-left" style="min-height:695px;">
                            <div class="image-box-thumbnail">
                                <a href="#"><img src="~/assets/images/rules1.jpg" alt=""></a>
                            </div><!-- image-box-thumbnail -->
                            <h4>Quelles sont les règles à suivre dans la communauté?</h4>
                            <strong>Se respecter les uns les autres:</strong>
                            <ul class="bullet-list">
                                <li>Une fois que vous avez trouvé une offre ou une annonce qui vous intéresse, contacter poliment le profil  et n’insistez pas si le profil n’est pas intéressé</li>
                            </ul>
                            <strong>Détournement de l’utilisation du site:</strong>
                            <ul class="bullet-list">
                                <li>Ne pas utiliser le site à des fins commerciales. Vous risquez d’être supprimé de la plateforme si l’admin constate ce genre de comportement lors de la validation des offres et demandes</li>
                            </ul>
                        </div><!-- text-box -->
                    </div>

                    <div class="col-md-6 wow fadeInLeft">
                        <div class="image-box style-2 text-left">
                            <div class="image-box-thumbnail">
                                <a href="#"><img src="~/assets/images/search-profile.jpg" alt=""></a>
                            </div><!-- image-box-thumbnail -->
                            <h4>Quelques conseils pour une bonne expérience sur la plateforme?</h4>
                            <strong>Facilité votre accès à la plateforme:</strong>
                            <ul class="bullet-list">
                                <li>L’application est disponible sur téléphone mobile. L’appli mobile vous simplifiera l’accès à la plateforme où que vous soyez et vous permettra de gagner du temps dans vos recherches</li>
                            </ul>
                            <strong>Gérer ses options de contact:</strong>
                            <ul class="bullet-list">
                                <li>Si vous souhaiter garder une certaine confidentialité de vos contacts enregistrés sur la plateforme (Tel/email), vous pouvez décider de n’afficher que votre email dans vos annonces et partager votre numéro de tel uniquement lorsque vous faites confiance aux profils.</li>
                                <li>Pour gérer ses options de contact, allez dans la section « Gérer mes réglages »</li>
                            </ul>
                            <strong>Notes et recommandation:</strong>
                            <ul class="bullet-list">
                                <li>N’oubliez pas de laisser une note et un commentaire après avoir reçu un service d’un candidat. Cela sera très utile pour les autres membres souhaitant embaucher plus tard ce même candidat</li>
                            </ul>
                        </div><!-- text-box -->
                    </div>

                    <div class="col-md-6 wow fadeInRight">
                        <div class="image-box style-2 text-left">
                            <div class="image-box-thumbnail">
                                <a href="#"><img src="~/assets/images/publish.jpg" alt=""></a>
                            </div><!-- image-box-thumbnail -->
                            <h4>Comment créer une demande d’emploi attractive?</h4>
                            <strong>Mettre une photo de profil à son annonce:</strong>
                            <ul class="bullet-list">
                                <li>En mettant une photo de profil à votre compte, vous aurez plus de chance d’être remarqué par les profils employeurs. N’hésitez pas à mettre une photo où vous être souriant…</li>
                            </ul>
                            <strong>Créer une offre détaillée:</strong>
                            <ul class="bullet-list">
                                <li>Plus votre annonce sera détaillée, plus elle aura de chance d’intéresser les employeurs . N’hésitez donc pas à bien décrire le service que vous proposer et définir tous les critères demandés (Disponibilité, Salaire attendus…)</li>
                            </ul>
                            <strong>Ajouter des images illustratives à sa demande:</strong>
                            <ul class="bullet-list">
                                <li>Lorsque vous créer une annonce, il est possible d’y insérer jusqu’à 3 images. Cela peut rajouter des informations visuelles intéressantes pour les profils employeurs. (Exemple: Si vous êtes coiffeuse/tresseuse, vous pouvez rajouter quelques photos de coiffures (Tissage, tresses…) que vous savez faire</li>
                            </ul>
                        </div><!-- text-box -->
                    </div>

                </div>
            </div>
        }
        else
        {

            <div class="full-section-container" ng-app="admindashboard" ng-controller="kpiCtrl">
                <div class="jobsearch-section">
                    <div class="left-section">
                        <div class="filter-overlay">
                            <div class="lds-ripple"><div></div><div></div></div>
                        </div>
                        <div class="header">
                            <i class="fa fa-align-left"></i>

                            <span class="grid-title">Graphs</span>
                            <span><i id="progress1" class="fa fa-spinner fa-spin" style="font-size:24px;" ng-show="loading"></i></span>
                            @*<div class='switch' style="right:10px;">
                                    <div class='quality'>
                                        <input checked id='q1' name='q' type='radio' value='q1'>
                                        <label for='q1'>Job Request</label>
                                    </div><div class='quality'>
                                        <input id='q2' name='q' type='radio' value='q2'>
                                        <label for='q2'>Job Offer</label>
                                    </div>
                                </div>*@

                            <div class='switch' style="right:10px;">
                                <div class='quality'>
                                    <input id="job_type_request" checked name='JobType' type='radio' ng-value="1" data-ng-model="jobType" data-ng-change="getJobRequests()">
                                    <label for="job_type_request">Job Request</label>
                                </div><div class='quality'>
                                    <input id="job_type_offer" name='JobType' type='radio' ng-value="2" data-ng-model="jobType" data-ng-change="getJobOffers()">
                                    <label for="job_type_offer">Job Offer</label>
                                </div>
                            </div>
                        </div>
                        @*<a title="Filter" class="Filterjob" id="FilterjobId"><i class="fa fa-filter"></i></a>*@
                        <div class="body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <label class="label" for="email">Select Year:</label>
                                                <select class="form-control">
                                                    <option selected>2018</option>
                                                </select>
                                            </div>

                                        </form>
                                    </div>

                                    

                                </div>
                                <div class="row">
                                    <section id="reactive">

                                        <div class="row mb-5">
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="chart-container">
                                                    <canvas id="tables" class="chart chart-line ng-isolate-scope" chart-data="line_chart_data" chart-series="line_chart_series" chart-options="line_chart_options" chart-labels="line_chart_labels" chart-colors="line_chart_colors"></canvas>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12" id="doughnut-chart">
                                                <div class="panel panel-default">
                                                    <div class="chart-container">
                                                        <canvas id="doughnut" class="chart chart-doughnut chart-xs ng-isolate-scope" chart-data="doughnut_data" chart-series="doughnut_series" chart-options="doughnut_options" chart-labels="doughnut_labels"></canvas>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </section>
                                </div>

                            </div>
                        </div>

                        <script type="text/javascript" src="~/Scripts/ChartJs/Chart.min.js"></script>
                        <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
                        <script type="text/javascript" src="~/Scripts/ChartJs/angular-chart.js"></script>
                        <script type="text/javascript" src="~/Scripts/ChartJs/app.js"></script>


                    </div>
                </div>
            </div>

        }
    </section>
</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "280px";
        document.getElementById("main-container-user").style.marginLeft = "280px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main-container-user").style.marginLeft = "0";
    }
</script>
