<style>
    #footer-container {
        display: none;
    }
</style>
<header id="header" class="responsive-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <!-- LOGO -->
                <div id="logo">
                    <a href="index.html">
                        <img src="~/assets/images/logo.png" alt="">
                    </a>
                </div><!-- LOGO -->
            </div><!-- col -->

            <div class="col-sm-10">
                <nav>
                    <a class="mobile-menu-button" href="#"><i class="bizhub-icon-menu-5"></i></a>
                    <ul class="menu clearfix" id="menu">
                        <li><a href="#"><i class="fa fa-home"></i> Dashboard</a></li>
                        <li><a href="#"><i class="fa fa-home"></i> Very Agency Profile</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
    <div id="main-container-user">

        @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                        .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                        .Select(c => c.Value);
            string role = roles.FirstOrDefault();}

        <div class="full-section-container" ng-app="myApp">
            <div class="jobsearch-section" ng-controller="exportMembersCtrl">
                <div class="right-section">
                    <div class="header">
                        <a title="Filter" id="FilterClose1" class="filter-close"><i class="bizhub-icon-close-2"></i></a>
                        <i class="fa fa-filter"></i>Set all filter to Indifferent
                        @*<div class="switch-area">
                                <label class="switchsmall">
                                    <input type="checkbox">
                                    <span class="slider1 round"></span>
                                </label>
                            </div>*@
                        @*<button type="button" class="btn btn-link" data-ng-click="resetFilter()">Reset</button>*@
                        <a title="Reset Filter" id="" class="filter-close pull-right" data-ng-click="resetFilter()" style="float:right;"><i class="fa fa-undo fa-lg"></i></a>
                    </div>
                    <div class="body search-filter-section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="filtersection-panel">
                                    <div class="filtersection-header">
                                        Select Member
                                    </div>

                                    <div class="filtersection-body">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="memberType" ng-value="0" data-ng-model="searchParam.memberType">
                                                All
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="memberType" ng-value="1" data-ng-model="searchParam.memberType">
                                                Candidate
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="memberType" ng-value="2" data-ng-model="searchParam.memberType">
                                                Employer
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="filtersection-panel">
                                    <div class="filtersection-header">
                                        Gender

                                    </div>

                                    <div class="filtersection-body">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="gender" value="Woman" data-ng-model="searchParam.gender">
                                                Woman
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="gender" value="Man" data-ng-model="searchParam.gender">
                                                Man
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="filtersection-panel">
                                    <div class="filtersection-header">
                                        Select Job

                                    </div>

                                    <div class="filtersection-body">
                                        <select class="form-control mb-0" data-ng-model="searchParam.job" data-ng-options="item.JobName as item.JobName for item in jobs">
                                            <option value="">--select--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="filtersection-panel">
                                    <div class="filtersection-header">
                                        Profile Verified
                                    </div>
                                    <div class="filtersection-body">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="Verified" data-ng-model="searchParam.profileVerified">
                                                Yes
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="Not Verified" data-ng-model="searchParam.profileVerified">
                                                No
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-md-12">
                                    <div class="filtersection-panel">
                                        <div class="filtersection-header">
                                            Age
                                        </div>
                                        <div class="filtersection-body">
                                            <div class="inlineform-filter">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <select class="" data-ng-model="searchParam.minAge">
                                                            <option value="">--select--</option>
                                                            <option>25</option>
                                                            <option>30</option>
                                                            <option>35</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2 text-center">&amp;</div>
                                                    <div class="col-md-5">
                                                        <select class="" data-ng-model="searchParam.maxAge">
                                                            <option value="">--select--</option>
                                                            <option>35</option>
                                                            <option>30</option>
                                                            <option>35</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="footer">
                        <button type="button" class="btn btn-default btn-lg" data-ng-click="searchMembers()"><i class="bizhub-icon-search"></i> Search</button>
                    </div>
                </div>
                <div class="left-section">
                    <div class="filter-overlay">
                        <div class="lds-ripple"><div></div><div></div></div>
                    </div>
                    <div class="header">
                        <i class="fa fa-list"></i>
                        <span class="grid-title">Member List</span>
                        <a title="Filter" class="Filterjob" id="FilterjobId1"><i class="fa fa-filter"></i></a>
                    </div>
                    @*<div class="filter-selected">
                            <i class="fa fa-filter"></i><span>Agency</span>
                        </div>*@
                    <div class="body">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-success btn-xs" ng-click="exportMemebersToExcel()" style="padding:5px 20px;"><i class="fa fa-upload"></i>&nbsp;Export To Excel</button>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead class="bg-pink">
                                            <tr>
                                                @*<th>#</th>*@
                                                <th>First name + Last name</th>
                                                <th>EmailId</th>
                                                <th>Role</th>
                                                <th>Contact No</th>
                                                <th>Gender</th>
                                                <th>Age</th>
                                                <th>Profile Verified</th>
                                                <th>Job Sought</th>
                                                <th>Published Date</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr data-ng-repeat="member in members">
                                                @*<td>{{$index + 1}}</td>*@
                                                <td data-ng-bind="member.Name"></td>
                                                <td data-ng-bind="member.EmailId"></td>
                                                <td data-ng-bind="member.MemberType"></td>
                                                <td data-ng-bind="member.ContactNo"></td>
                                                <td data-ng-bind="member.Gender"></td>
                                                <td data-ng-bind="member.Age"></td>
                                                <td data-ng-bind="member.ProfileVerified"></td>
                                                <td data-ng-bind="member.JobSought"></td>
                                                <td>{{member.PublishedDate | date : 'DD-MMM-YYYY'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_info" id="dataTables1_info" role="status" aria-live="polite">Showing <strong>1</strong> to 10 of 57 entries</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTables1_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button previous disabled" aria-controls="dataTables1" tabindex="0" id="dataTables1_previous">
                                            <a href="#">Previous</a>
                                        </li>
                                        <li class="paginate_button active" aria-controls="dataTables1" tabindex="0">
                                            <a href="#">1</a>
                                        </li>
                                        <li class="paginate_button " aria-controls="dataTables1" tabindex="0">
                                            <a href="#">2</a>
                                        </li>
                                        <li class="paginate_button " aria-controls="dataTables1" tabindex="0">
                                            <a href="#">3</a>
                                        </li>
                                        <li class="paginate_button " aria-controls="dataTables1" tabindex="0">
                                            <a href="#">4</a>
                                        </li>
                                        <li class="paginate_button " aria-controls="dataTables1" tabindex="0">
                                            <a href="#">5</a>
                                        </li>
                                        <li class="paginate_button " aria-controls="dataTables1" tabindex="0">
                                            <a href="#">6</a>
                                        </li>
                                        <li class="paginate_button next" aria-controls="dataTables1" tabindex="0" id="dataTables1_next">
                                            <a href="#">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--We need to show the chart for admin-->
        <div class="container">
            <div class="row">
                <section id="reactive">
                    <div class="row ng-scope">
                        <div class="col-lg-12 col-sm-12">

                            <div class="panel panel-default ng-isolate-scope">
                                <div class="panel-heading">
                                    @*<h4 class="panel-title">
                                            <a class="accordion-toggle" ng-click="isAdvaceSearch = !isAdvaceSearch"><i class="pull-left fa fa-search "></i>Advanced Search<i data-ng-hide="isAdvaceSearch" class="fa fa-chevron-down pull-right"></i><i data-ng-show="isAdvaceSearch" class="fa fa-chevron-up pull-right"></i></a>
                                        </h4>*@
                                </div>
                                <div class="panel-collapse " collapse="isAdvaceSearch" style="height: auto;">
                                    <div class="panel-body">
                                        @*<div class="row">
                                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                    <select class="form-control">
                                                        <option value="">--Select Member--</option>
                                                        <option value="1">Candidate</option>
                                                        <option value="2">Employer</option>
                                                    </select>
                                                </div>

                                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                    <select class="form-control">
                                                        <option value="">--Select Gender--</option>
                                                        <option value="1">Male</option>
                                                        <option value="2">Female</option>
                                                    </select>
                                                </div>

                                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                    <select class="form-control">
                                                        <option value="">--Select Job--</option>
                                                        <option value="1">Nanny</option>
                                                        <option value="2">Cook</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                    <select class="form-control">
                                                        <option value="">--Select Verification Status--</option>
                                                        <option value="1">Yes</option>
                                                        <option value="2">No</option>
                                                    </select>
                                                </div>

                                                <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-lg-3"><input placeholder="Min Age" /></div>
                                                        <div class="col-lg-1">&</div>
                                                        <div class="col-lg-3"><input placeholder="Max Age" /></div>
                                                        <div class="col-lg-4"><button class="btn" ng-click="searchMembers()">Search</button></div>
                                                    </div>
                                                </div>


                                            </div>*@

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="panel panel-default">
                                @*<div class="panel-heading">Members</div>*@
                                <div class="panel-body">
                                    @*<table class="table table-responsive table-condensed table-striped">
                                            <tbody>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>Type Of Member</th>
                                                    <th>Job Sought</th>
                                                    <th>Profile Status</th>
                                                    <th>Gender</th>
                                                    <th>Age</th>
                                                </tr>
                                                <tr data-ng-repeat="member in members">
                                                    <td>{{$index + 1}}</td>
                                                    <td data-ng-bind="member.Name"></td>
                                                    <td data-ng-bind="member.MemberType"></td>
                                                    <td data-ng-bind="member.Job"></td>
                                                    <td data-ng-bind="member.ProfileStatus ? 'Verified' : 'Not Verified'"></td>
                                                    <td data-ng-bind="member.Gender"></td>
                                                    <td data-ng-bind="member.Age"></td>
                                                </tr>

                                            </tbody>
                                        </table>*@
                                    @*<button type="button" class="btn btn-primary pull-left" ng-click="exportMemebersToExcel()">Export To Excel</button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>



        @*<script type="text/javascript" src="~/Scripts/ChartJs/Chart.min.js"></script>*@
        <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
        @*<script type="text/javascript" src="~/Scripts/ChartJs/angular-chart.js"></script>
            <script type="text/javascript" src="~/Scripts/ChartJs/app.js"></script>*@
        <script type="text/javascript">
        var app = angular.module('myApp', []);
        app.controller('exportMembersCtrl', function ($scope, $http) {
            $scope.members = [];
            $scope.message = "Welcome Angular JS";
            $scope.searchParam = {memberType:0};
            $scope.jobs = [];

            $scope.searchMembers = function () {
                $http.get("/api/jobtekapi/SearchMembers", {
                    params: $scope.searchParam
                })
                    .then(function (response) {
                        console.log(response.data);
                        $scope.members = response.data;
                    });
            }

            $scope.getJobs = function () {
                $http.get("/api/jobtekapi/GetJobs", {
                    //params: $scope.searchParam
                })
                    .then(function (response) {
                        console.log(response.data);
                        $scope.jobs = response.data;
                        //$("#FilterClose1").click();
                    });
            }

            $scope.resetFilter = function () {
                $scope.searchParam = { memberType: 0 };
            }

            $scope.exportMemebersToExcel = function () {
                //var url = '/api/JobTekApi/ExportMembersToExcel?';
                //if ($scope.searchParam) {
                //    if ($scope.searchParam.memberType) {
                //        url += ""
                //    }
                //}
                console.log($scope.searchParam);
                console.log($.param($scope.searchParam))

                window.open('/api/JobTekApi/ExportMembersToExcel?' + $.param($scope.searchParam));
            }

            $scope.getJobs();
            $scope.searchMembers();
        });
        </script>

    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "280px";
            document.getElementById("main-container-user").style.marginLeft = "280px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main-container-user").style.marginLeft = "0";
        }
    </script>

    @section scripts {
        <script type="text/javascript">

        $(document).ready(function () {
            $("#FilterjobId1").click(function () {
                $('.jobsearch-section .left-section').css('margin-right', '358px');
                $('.jobsearch-section .right-section').css('right', '0');
                $('.Filterjob').css('display', 'none');
                $('.switch').css('right', '10px');
                $('.filter-overlay').css('display', 'block');

            });
            $("#FilterClose1").click(function () {
                $('.jobsearch-section .left-section').css('margin-right', '0');
                $('.jobsearch-section .right-section').css('right', '-350px');
                $('.Filterjob').css('display', 'block');
                $('.switch').css('right', '50px');
                $('.filter-overlay').css('display', 'none');
            });
        });

        </script>
    }
