@model IEnumerable<HireMe.Models.JobOffer>
<style>
    #footer-container {
        display: none;
    }
</style>

<script>
    function setFavouriteJobOffer(jobOfferId) {

        //alert(jobRequestId);
        $.ajax
            ({
                url: '/FavouritejobOffers/Create?id=' + jobOfferId,
                //data: { "id": jobRequestId },
                type: 'get',
                success: function (result) {
                    //$('.modal-box').text(result).fadeIn(700, function () {
                    //    setTimeout(function () {
                    //        $('.modal-box').fadeOut();
                    //    }, 2000);
                    //});

                    alert("Job Offer added to your favourite list.");
                }
            });

    }

    function setjobOffersearchParam() {
        var gender = $('input[name="options"]').val();
        var yearsOfExp = $(".yrs_of_exp").val();

        console.log("Gender" + gender);
        console.log("years of exp = " + yearsOfExp);
        //SetJobRequestSearchParam

        //$.ajax
        //    ({
        //        url: '/SearchJobRequests/SetJobRequestSearchParam?Gender=' + gender + "&YearsOfExperience=" + yearsOfExp,
        //        data: { "Gender": gender, "YearsOfExperience": yearsOfExp },
        //        contentType: "json",
        //        type: 'get',
        //        success: function (result) {
        //            //$('.modal-box').text(result).fadeIn(700, function () {
        //            //    setTimeout(function () {
        //            //        $('.modal-box').fadeOut();
        //            //    }, 2000);
        //            //});

        //            alert("Job Request added to your favourite list.");
        //        }
        //    });

        // window.location.href = "SearchJobRequests?gender=" + gender + "&yearsOfExperience=" + yearsOfExp;
    }
</script>


<div id="main-container-user" ng-app="myApp" ng-controller="searchJobOfferCtrl">
    @{  var roles = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims
                    .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                    .Select(c => c.Value);
        string role = roles.FirstOrDefault();}

    <div class="full-section-container">
        <div class="jobsearch-section">
            <div class="right-section">
                <div class="header">
                    <a title="Filter" id="FilterClose" class="filter-close"><i class="bizhub-icon-close-2"></i></a>
                    <i class="fa fa-filter"></i>Set all filter to Indifferent
                    <div class="switch-area">
                        <label class="switchsmall">
                            <input type="checkbox">
                            <span class="slider1 round"></span>
                        </label>
                    </div>
                </div>
                <div class="body search-filter-section">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filtersection-panel">
                                <div class="filtersection-header">
                                    Gender
                                    <div class="switch-area-inner">
                                        <label class="switchsmall">
                                            <input type="checkbox">
                                            <span class="slider1 round"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="filtersection-body">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="gender" ng-value="1" data-ng-model="searchParam.Gender">
                                            Woman
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="gender" ng-value="0" data-ng-model="searchParam.Gender">
                                            Man
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filtersection-panel">
                                <div class="filtersection-header">
                                    ID Card Checked
                                    <div class="switch-area-inner">
                                        <label class="switchsmall">
                                            <input type="checkbox">
                                            <span class="slider1 round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filtersection-body">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="options" id="option1" value="option1" checked>
                                            Yes
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="options" id="option2" value="option2">
                                            No
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filtersection-panel">
                                <div class="filtersection-header">
                                    Age
                                    <div class="switch-area-inner">
                                        <label class="switchsmall">
                                            <input type="checkbox">
                                            <span class="slider1 round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filtersection-body">
                                    <div class="inlineform-filter">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <select class="">
                                                    <option>25</option>
                                                    <option>30</option>
                                                    <option>35</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 text-center">&amp;</div>
                                            <div class="col-md-5">
                                                <select class="">
                                                    <option>35</option>
                                                    <option>30</option>
                                                    <option>35</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filtersection-panel">
                                <div class="filtersection-header">
                                    Years of Experiences
                                    <div class="switch-area-inner">
                                        <label class="switchsmall">
                                            <input type="checkbox">
                                            <span class="slider1 round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filtersection-body">
                                    <div class="inlineform-filter">
                                        <div class="row">
                                            <div class="col-sm-2 text-center">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                            <div class="col-sm-3" style="padding-left: 0;">
                                                <select class="yrs_of_exp">
                                                    <option value="">--select--</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filtersection-panel">
                                <div class="filtersection-header">
                                    Type of Staff
                                    <div class="switch-area-inner">
                                        <label class="switchsmall">
                                            <input type="checkbox">
                                            <span class="slider1 round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filtersection-body">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="options" id="option1" value="option1" checked>
                                            Agency
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="options" id="option2" value="option2">
                                            Independant
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filtersection-panel">
                                <div class="filtersection-header">
                                    Disponibility
                                    <div class="switch-area-inner">
                                        <label class="switchsmall">
                                            <input type="checkbox">
                                            <span class="slider1 round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filtersection-body">
                                    <div class="widget widget-calendar">
                                        <input type="date" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filtersection-panel">
                                <div class="filtersection-header">
                                    Localizations
                                    <div class="switch-area-inner">
                                        <label class="switchsmall">
                                            <input type="checkbox">
                                            <span class="slider1 round"></span>
                                        </label>
                                    </div>
                                </div>
                                @*<div class="filtersection-body">
                                        <div class="inlineform-filter">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div>City</div>
                                                    <select multiple="">
                                                        <option>Option one</option>
                                                        <option>Option two</option>
                                                        <option>Option three</option>
                                                        <option>Option four</option>
                                                        <option>Option five</option>
                                                        <option>Option six</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>District</div>
                                                    <select multiple="">
                                                        <option>Option one</option>
                                                        <option>Option two</option>
                                                        <option>Option three</option>
                                                        <option>Option four</option>
                                                        <option>Option five</option>
                                                        <option>Option six</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filtersection-panel">
                                <div class="filtersection-header">
                                    Salary Between
                                    <div class="switch-area-inner">
                                        <label class="switchsmall">
                                            <input type="checkbox">
                                            <span class="slider1 round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filtersection-body">
                                    <div class="inlineform-filter">
                                        <div class="row">
                                            <div class="col-md-12 mb-2">
                                                <div class="radio inline mr-2">
                                                    <label>
                                                        <input type="radio" name="options" id="option2" value="option2">
                                                        Monthly
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <div class="radio inline">
                                                    <label>
                                                        <input type="radio" name="options" id="option2" value="option2">
                                                        Hourly
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <select class="">
                                                    <option>25</option>
                                                    <option>30</option>
                                                    <option>35</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 text-center">&amp;</div>
                                            <div class="col-md-5">
                                                <select class="">
                                                    <option>35</option>
                                                    <option>30</option>
                                                    <option>35</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="filtersection-panel">
                                <div class="filtersection-header">
                                    Read
                                    <div class="switch-area-inner">
                                        <label class="switchsmall">
                                            <input type="checkbox">
                                            <span class="slider1 round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filtersection-body">
                                    <img src="~/assets/images/eyeglass.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="filtersection-panel">
                                <div class="filtersection-header">
                                    Write
                                    <div class="switch-area-inner">
                                        <label class="switchsmall">
                                            <input type="checkbox">
                                            <span class="slider1 round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filtersection-body">
                                    <img src="~/assets/images/write.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filtersection-panel">
                                <div class="filtersection-header">
                                    Sleep on Site
                                    <div class="switch-area-inner">
                                        <label class="switchsmall">
                                            <input type="checkbox">
                                            <span class="slider1 round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filtersection-body">
                                    <img src="~/assets/images/sleep.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filtersection-panel">
                                <div class="filtersection-header">
                                    Child Care
                                    <div class="switch-area-inner">
                                        <label class="switchsmall">
                                            <input type="checkbox">
                                            <span class="slider1 round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filtersection-body">
                                    <img src="~/assets/images/childcare.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filtersection-panel">
                                <div class="filtersection-header">
                                    Cleaning
                                    <div class="switch-area-inner">
                                        <label class="switchsmall">
                                            <input type="checkbox">
                                            <span class="slider1 round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filtersection-body">
                                    <img src="~/assets/images/cleaning.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filtersection-panel">
                                <div class="filtersection-header">
                                    Laundry
                                    <div class="switch-area-inner">
                                        <label class="switchsmall">
                                            <input type="checkbox">
                                            <span class="slider1 round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="filtersection-body">
                                    <img src="~/assets/images/laundry.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="footer">
                    <button type="button" class="btn btn-default btn-lg" data-ng-click="searchJobOffers()"><i class="bizhub-icon-search"></i> Search</button>
                </div>
            </div>
            <div class="left-section">
                <div class="filter-overlay">
                    <div class="lds-ripple"><div></div><div></div></div>
                </div>
                <div class="header">
                    <i class="fa fa-align-left"></i>
                        <span class="grid-title">Searching for</span>
                    <a title="Filter" class="Filterjob" id="FilterjobId"><i class="fa fa-filter"></i></a>
                </div>
                @*<div class="filter-selected">
                        <i class="fa fa-filter"></i><span>Agency</span>
                    </div>*@
                <div class="body">
                    <div class="row">
                      
                        <div class="col-md-4 col-sm-6" data-ng-repeat="jr in jobOffers">
                            <div class="profileitems searchprofile-section">
                                <div class="left">
                                    <img src="~/assets/images/image-18.jpg" />
                                    <div class="rating">
                                        <a href="javascropt(0);"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></a>
                                    </div>
                                    <div class="favorite">
                                        <a href="#" id="set_favourite_job_req_link" data-ng-click="setFavouriteJobOffer(jr.JobOfferId)"><i class="fa fa-heart-o"></i></a>
                                    </div>
                                </div>
                                <div class="right">
                                    <h1>
                                        <!--{{jr.Employer.Gender == 1 ? "Man" : "Woman"}}<span></span>-->
                                    
                                        <span data-ng-if="jr.Employer.Gender == 2"><img src="~/assets/images/woman-user.png" /></span>
                                        <span data-ng-if="jr.Employer.Gender == 1"><img src="~/assets/images/user.png" /></span>
                                    </h1>
                                    <h2 class="name" data-ng-bind="jr.Employer.FirstName"></h2>
                                    <h2 class="jobname" data-ng-bind="jr.Job.JobName"></h2>
                                    <p class="location"><i class="fa fa-map-marker"></i> {{jr.Employer.Country}}</p>
                                    <div class="published">Published: <span>{{jr.PublishedDate}}</span></div>
                                </div>
                                <div class="profile-footer">
                                    {{jr.JobRequestDescription}}&nbsp;
                                </div>
                                <div class="team-contact-info">
                                    <ul class="social-icons">
                                        <li><a href="" title="Favorite" id="set_favourite_job_req_link" data-ng-click="setFavouriteJobOffer(jr.JobOfferId)"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                        <li><a href="/JobOffers/Details/{{jr.JobOfferId}}" title="see more details"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="filter-overlay" data-ng-if="jobOffers.length == 0" style="display:block;">
                            <div class="lds-ripple"><div></div><div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>   
    <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "280px";
        document.getElementById("main-container-user").style.marginLeft = "280px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main-container-user").style.marginLeft = "0";
    }
    </script>

    @section scripts {

        <script type="text/javascript">

        $(document).ready(function () {
            $("#FilterjobId").click(function () {
                $('.jobsearch-section .left-section').css('margin-right', '358px');
                $('.jobsearch-section .right-section').css('right', '0');
                $('.Filterjob').css('display', 'none');
                $('.switch').css('right', '10px');
                $('.filter-overlay').css('display', 'block');

            });
            $("#FilterClose").click(function () {
                $('.jobsearch-section .left-section').css('margin-right', '0');
                $('.jobsearch-section .right-section').css('right', '-350px');
                $('.Filterjob').css('display', 'block');
                $('.switch').css('right', '50px');
                $('.filter-overlay').css('display', 'none');
            });
        });

        </script>

        <script>
        //$('#set_favourite_job_req_link').click(function () {



        //    $.ajax
        //        ({
        //            url: 'reservebook.php',
        //            data: { "bookID": book_id },
        //            type: 'post',
        //            success: function (result) {
        //                $('.modal-box').text(result).fadeIn(700, function () {
        //                    setTimeout(function () {
        //                        $('.modal-box').fadeOut();
        //                    }, 2000);
        //                });
        //            }
        //        });
        //});
        </script>
        <script src="~/Scripts/angular.min.js"></script>
        <script type="text/javascript">
        var app = angular.module('myApp', []);
        app.controller('searchJobOfferCtrl', function ($scope, $http) {
            $scope.jobOffers = [];
            $scope.message = "Welcome Angular JS";
            $scope.searchParam = {};


            $scope.searchjobOffers = function() {
                $http.get("/api/jobtekapi/SearchJobOffers", {
                    //params: { page: 1, limit: 100, sort: 'name', direction: 'desc' },
                    //headers: { 'Authorization': 'Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==' }
                    params: $scope.searchParam
                })
                .then(function (response) {
                    console.log(response.data);
                    $scope.jobOffers = response.data;
                });
            }

            $scope.setFavouriteJobOffer = function(jobOfferid) {

                //alert(jobRequestId);
                $.ajax
                    ({
                        url: '/FavouritejobOffers/Create?id=' + jobOfferid,
                        //data: { "id": jobRequestId },
                        type: 'get',
                        success: function (result) {
                            //$('.modal-box').text(result).fadeIn(700, function () {
                            //    setTimeout(function () {
                            //        $('.modal-box').fadeOut();
                            //    }, 2000);
                            //});

                            alert("Job Offer added to your favourite list.");
                        }
                    });

            }

            $scope.searchjobOffers();
        });
        </script>

    }
