@model IEnumerable<HireMe.Models.JobRequestNote>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
        </tr>

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>

                </tr>
            }
        }

        @if (Model == null || Model.Count() == 0)
        {
            <tr>
                <td colspan="2">
                    <h4 class="text-danger text-center">
                        You have not given any note for this job request.
                    </h4>
                </td>
            </tr>
        }

    </table>
</div>