<div id="main-container">

    <!-- PAGE CONTENT -->
    <div id="page-content">
        <div id="page-header">
            <div class="ken-burns" style="background-image:url(../images/backgrounds/page-header-1.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>CONTACT US</h1>
                        @*<ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">About us</li>
                            </ol>*@
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- page-header -->


        <section class="container">
            <div class="row">
                <div class="col-md-12">
                   <div class="contact-form">
                       <div class="row">
                           <div class="col-sm-6">
                               <div class="address">
                                   <h1>
                                       Contact Us
                                   </h1>
                                   <p>
                                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                       Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled 
                                   </p>
                                   <div class="address-content">
                                       <h3>
                                           <i class="fa fa-clock-o"></i>Opening Hours
                                       </h3>
                                       <p>
                                           9:00/ 18:00
                                       </p>
                                   </div>
                                   <div class="address-content">
                                       <h3>
                                           <i class="fa fa-envelope"></i>Mail
                                       </h3>
                                       <p>
                                           <a href="#">contact@jobtek.com</a>
                                       </p>
                                   </div>
                                   <div class="address-content">
                                       <h3>
                                           <i class="fa fa-phone"></i>Phone
                                       </h3>
                                       <p>
                                           11003399888
                                       </p>
                                   </div>
                                   <div class="address-content">
                                       <h3>
                                           <i class="fa fa-map-marker"></i>Address
                                       </h3>
                                       <p>
                                           Address
                                       </p>
                                   </div>
                               </div>
                           </div>
                           <div class="col-sm-6">
                               <div class="form-area">
                                   <h1>Contact Form</h1>
                                   <p>Here you can fillup the form</p>
                                   <form>
                                       <input type="text" class="form-control" placeholder="Name">
                                       <input type="email" class="form-control" placeholder="Email">
                                       <textarea id="comment" class="form-control mb-3" name="comment" rows="6" placeholder="Message"></textarea>
                                       <button class="btn btn-style-1 btn-block waves" id="submit" type="submit" name="submit" value="">Submit</button>
                                   </form>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </section>
    </div><!-- PAGE CONTENT -->
</div>
