<style>
    #footer-container {
        display: none;
    }
    .switch{
    width: 300px;
    right: 0;
    top: 0;
    }
    .quality{
        width: 49.3%;
    }
</style>

<div id="main-container-user" style="margin-left: 280px;">
    <!---- Tab Section -->

    <div class="full-section-container wow fadeInUp">
        <div class="tab-section">
            <div class="tab-section-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="headline text-center mb-1 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                            <h2>Search Job Request/ Job Offer</h2>
                        </div>
                        <div class="tabs style-2">

                            <ul class="nav nav-tabs">
                                <li><a class="active" href="#tab-1-1" data-toggle="tab"><img src="~/assets/images/home-icon.png" />Home Jobs</a></li>
                                <li><a href="#tab-1-2" data-toggle="tab"><img src="~/assets/images/settings-icon.png" />Troubleshooting</a></li>
                                <li><a href="#tab-1-3" data-toggle="tab"><img src="~/assets/images/course-icon.png" />Course</a></li>
                                <li><a href="#tab-1-4" data-toggle="tab"><img src="~/assets/images/salon-icon.png" />Hairstyle/ Care</a></li>
                                <li><a href="#tab-1-5" data-toggle="tab"><img src="~/assets/images/ceremony-icon.png" />Organization Ceremony</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-1-1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="isotope cols-3 gutter">
                                                <div class="isotope-item categ-1 categ-2">
                                                    <div class="portfolio-item">
                                                        <div class="portfolio-item-thumbnail">
                                                            <img src="~/assets/images/portfolio/cook.jpg" alt="">
                                                            <div class="portfolio-item-hover"></div>
                                                            <div class="portfolio-item-description">
                                                                <h5><a href="#">Cook</a></h5>
                                                            </div><!-- portfolio-item-description -->
                                                            <a class="fancybox zoom-action" data-fancybox="portfolio" href="#"><i class="bizhub-icon-search"></i></a>
                                                        </div><!-- portfolio-item-thumbnail -->
                                                    </div><!-- portfolio-item -->
                                                </div><!-- isotope-item -->

                                                <div class="isotope-item categ-1 categ-2">
                                                    <div class="portfolio-item">
                                                        <div class="portfolio-item-thumbnail">
                                                            <img src="~/assets/images/portfolio/nanny.jpg" alt="">
                                                            <div class="portfolio-item-hover"></div>
                                                            <div class="portfolio-item-description">
                                                                <h5><a href="#">Nanny/ Housekeeper</a></h5>
                                                            </div><!-- portfolio-item-description -->
                                                            <a class="fancybox zoom-action" data-fancybox="portfolio" href="#"><i class="bizhub-icon-search"></i></a>
                                                        </div><!-- portfolio-item-thumbnail -->
                                                    </div><!-- portfolio-item -->
                                                </div><!-- isotope-item -->

                                                <div class="isotope-item categ-1 categ-2">
                                                    <div class="portfolio-item">
                                                        <div class="portfolio-item-thumbnail">
                                                            <img src="~/assets/images/portfolio/guardian.jpg" alt="">
                                                            <div class="portfolio-item-hover"></div>
                                                            <div class="portfolio-item-description">
                                                                <h5><a href="#">Guardian</a></h5>
                                                            </div><!-- portfolio-item-description -->
                                                            <a class="fancybox zoom-action" data-fancybox="portfolio" href="#"><i class="bizhub-icon-search"></i></a>
                                                        </div><!-- portfolio-item-thumbnail -->
                                                    </div><!-- portfolio-item -->
                                                </div><!-- isotope-item -->
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- tab-pane -->

                                <div class="tab-pane fade" id="tab-1-2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="isotope cols-3 gutter">
                                                <div class="isotope-item categ-1 categ-2">
                                                    <div class="portfolio-item">
                                                        <div class="portfolio-item-thumbnail">
                                                            <img src="~/assets/images/portfolio/plumber.jpg" alt="">
                                                            <div class="portfolio-item-hover"></div>
                                                            <div class="portfolio-item-description">
                                                                <h5><a href="#">Plumber</a></h5>
                                                            </div><!-- portfolio-item-description -->
                                                            <a class="fancybox zoom-action" data-fancybox="portfolio" href="#"><i class="bizhub-icon-search"></i></a>
                                                        </div><!-- portfolio-item-thumbnail -->
                                                    </div><!-- portfolio-item -->
                                                </div><!-- isotope-item -->

                                                <div class="isotope-item categ-1 categ-2">
                                                    <div class="portfolio-item">
                                                        <div class="portfolio-item-thumbnail">
                                                            <img src="~/assets/images/portfolio/electrician.jpg" alt="">
                                                            <div class="portfolio-item-hover"></div>
                                                            <div class="portfolio-item-description">
                                                                <h5><a href="#">Electrician</a></h5>
                                                            </div><!-- portfolio-item-description -->
                                                            <a class="fancybox zoom-action" data-fancybox="portfolio" href="#"><i class="bizhub-icon-search"></i></a>
                                                        </div><!-- portfolio-item-thumbnail -->
                                                    </div><!-- portfolio-item -->
                                                </div><!-- isotope-item -->

                                                <div class="isotope-item categ-1 categ-2">
                                                    <div class="portfolio-item">
                                                        <div class="portfolio-item-thumbnail">
                                                            <img src="~/assets/images/portfolio/music.jpg" alt="">
                                                            <div class="portfolio-item-hover"></div>
                                                            <div class="portfolio-item-description">
                                                                <h5><a href="#">Music Courses</a></h5>
                                                            </div><!-- portfolio-item-description -->
                                                            <a class="fancybox zoom-action" data-fancybox="portfolio" href="#"><i class="bizhub-icon-search"></i></a>
                                                        </div><!-- portfolio-item-thumbnail -->
                                                    </div><!-- portfolio-item -->
                                                </div><!-- isotope-item -->
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- tab-pane -->

                                <div class="tab-pane fade" id="tab-1-3">
                                    <div class="service-box style-9 icon-left">
                                        <span><i class="bizhub-icon-shuffle"></i></span>
                                        <div class="service-box-content">
                                            <h5><a href="single-service.html">Course</a></h5>
                                            <p>Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis efficitur vel ut magna.</p>
                                        </div><!-- service-box-content -->
                                    </div><!-- service-box -->
                                </div><!-- tab-pane -->

                                <div class="tab-pane fade" id="tab-1-4">
                                    <div class="service-box style-9 icon-left">
                                        <span><i class="bizhub-icon-shuffle"></i></span>
                                        <div class="service-box-content">
                                            <h5><a href="single-service.html">Hairstyle/ Care</a></h5>
                                            <p>Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis efficitur vel ut magna.</p>
                                        </div><!-- service-box-content -->
                                    </div><!-- service-box -->
                                </div><!-- tab-pane -->

                                <div class="tab-pane fade" id="tab-1-5">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="isotope cols-3 gutter">
                                                <div class="isotope-item categ-1 categ-2">
                                                    <div class="portfolio-item">
                                                        <div class="portfolio-item-thumbnail">
                                                            <img src="~/assets/images/portfolio/catering.jpg" alt="">
                                                            <div class="portfolio-item-hover"></div>
                                                            <div class="portfolio-item-description">
                                                                <h5><a href="#">Home Catering</a></h5>
                                                            </div><!-- portfolio-item-description -->
                                                            <a class="fancybox zoom-action" data-fancybox="portfolio" href="#"><i class="bizhub-icon-search"></i></a>
                                                        </div><!-- portfolio-item-thumbnail -->
                                                    </div><!-- portfolio-item -->
                                                </div><!-- isotope-item -->

                                                <div class="isotope-item categ-1 categ-2">
                                                    <div class="portfolio-item">
                                                        <div class="portfolio-item-thumbnail">
                                                            <img src="~/assets/images/portfolio/Ceremony.jpg" alt="">
                                                            <div class="portfolio-item-hover"></div>
                                                            <div class="portfolio-item-description">
                                                                <h5><a href="#">Ceremony Organization</a></h5>
                                                            </div><!-- portfolio-item-description -->
                                                            <a class="fancybox zoom-action" data-fancybox="portfolio" href="#"><i class="bizhub-icon-search"></i></a>
                                                        </div><!-- portfolio-item-thumbnail -->
                                                    </div><!-- portfolio-item -->
                                                </div><!-- isotope-item -->
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- tab-pane -->

                            </div><!-- tab-content -->
                        </div><!-- tabs -->
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class="headline text-center mb-1 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                            <h2>Manage my Profile</h2>
                        </div>
                        <div class="tabs style-2">

                            <ul class="nav nav-tabs">
                                <li><a href="#tab-basic" data-toggle="tab">Basic</a></li>
                                <li><a class="active" href="#tab-advance" data-toggle="tab">Advance</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade" id="tab-basic">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5>Basic Profiles</h5>
                                        </div>
                                        <div class="col-md-4">
                                            dsdsd
                                        </div>
                                    </div>
                                </div><!-- tab-pane -->

                                <div class="tab-pane fade show active regd-form" id="tab-advance">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5>Advance Profiles</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-section">
                                               
                                                <fieldset>

                                                    <div id="alert-area"></div>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="/assets/images/user.png" alt=""></span>
                                                        </div>
                                                        <input class="form-control" data-val="true" data-val-required="The First Name field is required." id="FirstName" name="FirstName" placeholder="" type="text" value="">
                                                        <span class="input-lable">First Name</span>
                                                    </div>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="/assets/images/user.png" alt=""></span>
                                                        </div>
                                                        <input class="form-control" id="LastName" name="LastName" placeholder="" type="text" value="">
                                                        <span class="input-lable">Last Name</span>
                                                    </div>


                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="/assets/images/map.png" alt=""></span>
                                                        </div>
                                                        <textarea class="form-control" cols="20" id="Address" name="Address" placeholder="" rows="2"></textarea>
                                                        <span class="input-lable">Address</span>
                                                    </div>

                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="/assets/images/map.png" alt=""></span>
                                                        </div>


                                                        <select class="form-control" data-val="true" data-val-number="The field CountryId must be a number." id="Country" name="CountryId"></select>
                                                        <span class="input-lable">Country</span>
                                                    </div>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="/assets/images/map.png" alt=""></span>
                                                        </div>
                                                        <select class="form-control" data-val="true" data-val-number="The field CityId must be a number." id="City" name="CityId">
                                                            <option value="">Choose City</option>
                                                            <option value="1">Abidjan (Capitale Eco)</option>
                                                            <option value="2">Yamoussoukro (Capitale Pol)</option>
                                                            <option value="3">Abengourou</option>
                                                            <option value="4">Anyama</option>
                                                            <option value="5">Agnibilékrou</option>
                                                        </select>

                                                        <span class="input-lable">City</span>
                                                    </div>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="/assets/images/map.png" alt=""></span>
                                                        </div>
                                                        <select id="District" name="DistrictId" class="form-control"></select>

                                                        <span class="input-lable">District</span>
                                                    </div>
                                                </fieldset>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-section">
                                                
                                                <fieldset>

                                                    <div id="alert-area"></div>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="/assets/images/email.png" alt=""></span>
                                                        </div>
                                                        <input class="form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" placeholder="" type="text" value="">
                                                        <span class="input-lable">Email</span>
                                                    </div>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="/assets/images/user.png" alt=""></span>
                                                        </div>
                                                        <input class="form-control" data-val="true" data-val-required="The UserName field is required." id="UserName" name="UserName" placeholder="" type="text" value="">
                                                        <span class="input-lable">User name</span>
                                                    </div>

                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="/assets/images/phone.png" alt=""></span>
                                                        </div>
                                                        <input class="form-control" data-val="true" data-val-regex="Not a valid phone number" data-val-regex-pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$" data-val-required="You must provide a phone number" id="PhoneNumber" name="PhoneNumber" placeholder="" type="text" value="">
                                                        <span class="input-lable">Contact number</span>
                                                    </div>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="/assets/images/key.png" alt=""></span>
                                                        </div>
                                                        <input class="form-control" data-val="true" data-val-length="The Password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Password" name="Password" placeholder="" type="password">
                                                        <span class="input-lable">Password</span>
                                                    </div>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="/assets/images/user.png" alt=""></span>
                                                        </div>
                                                        <input type="file" class="form-control" placeholder="Profile Picture" id="profile_pic" name="profile_pic">
                                                        <span class="input-lable">Profile Picture</span>
                                                    </div>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><img src="/assets/images/id.png" alt=""></span>
                                                        </div>
                                                        <input type="file" class="form-control" placeholder="Proof of ID" id="id_proof" name="id_proof">
                                                        <span class="input-lable">Proof of ID</span>
                                                    </div>
                                                    <div class="default-contact">
                                                        Set Default Contact as: 
                                                        <div class='switch'>
                                                            <div class='quality'>
                                                                <input checked id='q1' name='q' type='radio' value='q1'>
                                                                <label for='q1'><i class="fa fa-envelope"></i>&nbsp;Email ID</label>
                                                            </div>
                                                            <div class='quality'>
                                                                <input id='q2' name='q' type='radio' value='q2'>
                                                                <label for='q2'><i class="fa fa-phone"></i>&nbsp;Phone Number</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </fieldset>

                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-style-1 btn-lg waves"><i class="fa fa-check"></i>&nbsp;Update Profile</button>
                                        </div>
                                    </div>
                                </div><!-- tab-pane -->

                            </div><!-- tab-content -->
                        </div><!-- tabs -->
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center">
                        <h2>Messages & Notifications</h2>
                    </div><!-- headline -->
                </div><!-- col -->
            </div><!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="notification">
                        <li>
                            <a href="#" class="notification-link">
                                <span class="photo">
                                    <img src="/assets/images/portfolio/nanny.jpg" alt=""/>
                                </span>
                                <div class="info">
                                    <span class="name">Larry Gardner</span>
                                    <span class="others">Lorem ipsum dolor sit</span>
                                </div>
                                <div class="subject">
                                    It is perfect to use for any business, from a financial to an artistic or a personal one. The beautiful colors will make your website look outstanding. It comes with 
                                </div>
                                <span class="date-time">12/11/2018 10:00am</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="notification-link">
                                <span class="photo">
                                    <img src="/assets/images/portfolio/nanny.jpg" alt="" />
                                </span>
                                <div class="info">
                                    <span class="name">Larry Gardner</span>
                                    <span class="others">Lorem ipsum dolor sit</span>
                                </div>
                                <div class="subject">
                                    It is perfect to use for any business, from a financial to an artistic or a personal one. The beautiful colors will make your website look outstanding. It comes with
                                </div>
                                <span class="date-time">12/11/2018 10:00am</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="notification-link">
                                <span class="photo">
                                    <img src="/assets/images/portfolio/nanny.jpg" alt="" />
                                </span>
                                <div class="info">
                                    <span class="name">Larry Gardner</span>
                                    <span class="others">Lorem ipsum dolor sit</span>
                                </div>
                                <div class="subject">
                                    It is perfect to use for any business, from a financial to an artistic or a personal one. The beautiful colors will make your website look outstanding. It comes with
                                </div>
                                <span class="date-time">12/11/2018 10:00am</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="notification-link">
                                <span class="photo">
                                    <img src="/assets/images/portfolio/nanny.jpg" alt="" />
                                </span>
                                <div class="info">
                                    <span class="name">Larry Gardner</span>
                                    <span class="others">Lorem ipsum dolor sit</span>
                                </div>
                                <div class="subject">
                                    It is perfect to use for any business, from a financial to an artistic or a personal one. The beautiful colors will make your website look outstanding. It comes with
                                </div>
                                <span class="date-time">12/11/2018 10:00am</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="notification-link">
                                <span class="photo">
                                    <img src="/assets/images/portfolio/nanny.jpg" alt="" />
                                </span>
                                <div class="info">
                                    <span class="name">Larry Gardner</span>
                                    <span class="others">Lorem ipsum dolor sit</span>
                                </div>
                                <div class="subject">
                                    It is perfect to use for any business, from a financial to an artistic or a personal one. The beautiful colors will make your website look outstanding. It comes with
                                </div>
                                <span class="date-time">12/11/2018 10:00am</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- container -->



        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center">
                        <h2>Our Trusted Partners</h2>
                    </div><!-- headline -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel logos-slider">
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/6.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/5.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/4.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/3.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/2.jpg);"></a></div>
                        <div class="item"><a target="_blank" href="#" style="background-image:url(/assets/images/logos/1.jpg);"></a></div>
                    </div><!-- logos-slider -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div>

    <!---- Tab Section end-->

    



</div>
<script>
     function openNav() {
         document.getElementById("mySidenav").style.width = "280px";
         document.getElementById("main-container-user").style.marginLeft = "280px";
     }

     function closeNav() {
         document.getElementById("mySidenav").style.width = "0";
         document.getElementById("main-container-user").style.marginLeft = "0";
     }
</script>