<style>
    #mySidenav {
        display: none;
    }
</style>
<div id="main-container">
    
    <!-- PAGE CONTENT -->

    <!-- PAGE CONTENT -->
    <div id="page-content">
        <div id="page-header">
            <div class="ken-burns" style="background-image:url(../images/backgrounds/page-header-1.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>OFFRES ET SERVICES POUR TOUS</h1>
                        @*<ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">About us</li>
                        </ol>*@
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- page-header -->


        <section class="full-section half-image" id="section-311">
            <div class="full-section-container">
                <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7 col-sm-12 wow fadeInLeft">
                        <img src="~/assets/images/employer1.jpg" alt="">
                    </div>
                    <div class="col-md-5 col-sm-12 wow fadeInRight">
                        <h4 class="pt-3">Employeur :</h4>
                        <div class="service-box style-9 icon-left mb-3">
                            <span><i class="bizhub-icon-database-1"></i></span>
                            <div class="service-box-content">
                                <p>Retrouvez dans un unique référentiel toutes les annonces de service à domicile</p>
                            </div><!-- service-box-content -->
                        </div>
                        <div class="service-box style-9 icon-left mb-3">
                            <span><i class="bizhub-icon-smartphone"></i></span>
                            <div class="service-box-content">
                                <p>
                                    Gérer votre recherche simplement depuis votre mobile ou PC
                                </p>
                            </div><!-- service-box-content -->
                        </div>
                        <div class="service-box style-9 icon-left mb-3">
                            <span><i class="bizhub-icon-funnel"></i></span>
                            <div class="service-box-content">
                                <p>
                                    Définissez vos critères attendus (Âge, sexe, localisation, compétences...) et retrouvez sans attendre les profils répondant à vos attentes
                                </p>
                            </div><!-- service-box-content -->
                        </div>
                        <div class="service-box style-9 icon-left mb-3">
                            <span><i class="bizhub-icon-success"></i></span>
                            <div class="service-box-content">
                                <p>Retrouvez des profils de confiance grâce au système de vérification de notre plate-forme</p>
                            </div><!-- service-box-content -->
                        </div>
                        <div class="service-box style-9 icon-left mb-3">
                            <span><i class="bizhub-icon-internet"></i></span>
                            <div class="service-box-content">
                                <p>Aidez vous des notes et recommandations de la communauté pour évaluer les profils sérieux de confiance</p>
                            </div><!-- service-box-content -->
                        </div>
                    </div>
                </div>
                </div><!-- container-fluid -->
            </div><!-- full-section-container -->
        </section><!-- full-section -->

        <section class="full-section half-image" id="section-311">
            <div class="full-section-container">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-6 col-sm-12 wow fadeInLeft d-block d-sm-none">
                            <img src="~/assets/images/agency1.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-sm-12 wow fadeInRight">
                            <h4 class="pt-3">Agence :</h4>
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-database-1"></i></span>
                                <div class="service-box-content">
                                    <p>Disposez d'une plate-forme dédiée au service à domicile pour faire embaucher rapidement vos candidats</p>
                                </div><!-- service-box-content -->
                            </div>
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-spotlight"></i></span>
                                <div class="service-box-content">
                                    <p>Bénéficiez d'outils personnalisés pour mettre en avant les compétences de vos candidats et la qualité de vos services</p>
                                </div><!-- service-box-content -->
                            </div>
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-smartphone"></i></span>
                                <div class="service-box-content">
                                    <p>
                                        Bénéficiez d'outils depuis PC ou mobile pour créer efficacement une base de données de candidats et accessible à tout moment de manière sécurisée
                                    </p>
                                </div><!-- service-box-content -->
                            </div>
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-search"></i></span>
                                <div class="service-box-content">
                                    <p>Faites des recherches par multicriteres (localisation, salaire proposé...) pour retrouver les annonces publiées par vos clients cibles</p>
                                </div><!-- service-box-content -->
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 wow fadeInLeft d-xs-none">
                            <img src="/assets/images/agency1.jpg" alt="">
                        </div>
                        
                    </div>

                </div><!-- container-fluid -->
            </div><!-- full-section-container -->
        </section><!-- full-section -->

        <section class="full-section half-image" id="section-311">
            @*<div class="half-image-left wow fadeInLeft" style="background-image:url(/assets/images/agency1.jpg);">
                <img src="/assets/images/agency1.jpg" alt="">
            </div>*@
            <div class="full-section-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7 col-sm-12 wow fadeInLeft">
                            <img src="~/assets/images/candidate1.jpg" alt="">
                        </div>
                        <div class="col-md-5 col-sm-12 wow fadeInRight">
                            <h4>Candidat :</h4>
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-database-1"></i></span>
                                <div class="service-box-content">
                                    <p>
                                        Disposez d'une plate-forme dédiée au service à domicile où mettre rapidement en visibilité vos annonces publiées
                                    </p>
                                </div><!-- service-box-content -->
                            </div>
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-success"></i></span>
                                <div class="service-box-content">
                                    <p>
                                        Bénéficiez d'outils personnalisés pour mettre en avant vos atouts et compétences
                                    </p>
                                </div><!-- service-box-content -->
                            </div>
                            <div class="service-box style-9 icon-left mb-3">
                                <span><i class="bizhub-icon-spotlight"></i></span>
                                <div class="service-box-content">
                                    <p>
                                        Faites des recherches par multicriteres (localisation, salaire proposé...) pour retrouver les annonces publiées par vos clients cibles
                                    </p>
                                </div><!-- service-box-content -->
                            </div>
                        </div>
                        </div>
                </div><!-- container-fluid -->
            </div><!-- full-section-container -->
        </section><!-- full-section -->


    </div><!-- PAGE CONTENT -->
</div>
