<style>
    #mySidenav{
        display:none;
    }
</style>


<div id="main-container">
    <!-- HEADER -->
    <!-- HEADER -->
    <!-- PAGE CONTENT -->
    <!-- PAGE CONTENT -->
    <div id="page-content">
        <div id="page-header">
            <div class="ken-burns" style="background-image:url(../images/backgrounds/page-header-1.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>AGENCE</h1>
                        @*<ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">About us</li>
                            </ol>*@
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- page-header -->

        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                        <h2>QUELQUES INFOS AVANT L’INSCRIPTION</h2>
                    </div><!-- headline -->
                </div>
                <div class="col-md-7">
                    <ul class="info-list wow fadeInLeft">
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/Agencyinfo1.jpg" alt="">
                            </span>
                            Une fois inscrit, retrouvez des tutoriels en vidéos dans votre section "Tableau de bord"
                        </li>
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/Agencyinfo2.jpg" alt="">
                            </span>
                            N'oubliez pas de télécharger l'application mobile pour une meilleure utilisation de nos services
                        </li>
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/Agencyinfo3.jpg" alt="">
                            </span>
                            Enregistrer une pièce d'identité pour nous aider à vérifier que vous êtes vraiment vous et nous aidez à lutter contre la fraude...
                        </li>
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/Agencyinfo4.jpg" alt="">
                            </span>
                            Votre pièce d'identité sera stockée de manière sécurisée et ne sera jamais visible des autres utilisateurs
                        </li>
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/Agencyinfo5.jpg" alt="">
                            </span>
                            Une fois votre pièce d'identité enregistrée, faites une demande de vérification pour avoir un "profil vérifié" signe de confiance sur la plateforme
                        </li>
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/Agencyinfo6.jpg" alt="">
                            </span>
                            Participer à la création d'une communauté de confiance en signalant les mauvais profils via les notes et commentaires
                        </li>
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/Employerinfo7.jpg" alt="">
                            </span>
                            Si vous avez des questions sur notre plateforme, rendez vous dans la section <strong><a href="http://40.89.160.98/Home/FAQ">« Foire aux questions » (FAQ)</a></strong>
                        </li>
                    </ul>
                    <a href="/Account/Register?userRole=Agency"><button type="button" class="btn btn-style-1 btn-lg waves wow fadeInDown">Start registration&nbsp;<i class="fa fa-arrow-right"></i></button></a>
</div>
                <div class="col-md-5">
                    <div class="half-circle-image wow fadeInRight">
                        <img src="~/assets/images/portfolio/agency-half.jpg" alt="Agency">
                    </div>
                </div>
            </div>
        </section>



    </div><!-- PAGE CONTENT -->
</div>
