<style>
    #mySidenav {
        display: none;
    }
</style>
<div id="main-container">
    <!-- HEADER -->
    <!-- HEADER -->
    <!-- PAGE CONTENT -->
    <!-- PAGE CONTENT -->
    <div id="page-content">
        <div id="page-header">
            <div class="ken-burns" style="background-image:url(../images/backgrounds/page-header-1.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Candidat</h1>
                        @*<ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">About us</li>
                            </ol>*@
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- page-header -->
      

        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                        <h2>SOME INFO BEFORE REGISTERING</h2>
                        <h5>What is the purpose of the inscription?</h5>
                    </div><!-- headline -->
                </div>
                <div class="col-md-7">
                    <ul class="info-list wow fadeInLeft">
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/register-icon.png" alt="">
                            </span>
                            Registration consists of filling out a form to create your personal account. 
                            Once created, your user account will be accessible at all times from your PC or mobile
                        </li>
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/search-icon.png" alt="">
                            </span>
                            From your user account, you will have access to a dashboard that will give you useful information to start (tutorial on Video...)
                            You will also be able to access all the functionalities of job offer research and job request creation to describe your expectations and to put in visibility your skills proposed for your service
                        </li>
                       
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/IDcard-icon.png" alt="">
                            </span>
                            We advise all candidate profiles to put a profile picture and download a ID proof card (national ID or passport) in order to attract employers more easily searching trust profiles
                        </li>
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/filter-icon.png" alt="">
                            </span>
                            You have multi filters (localization, availability, proposed salaries, competence sought by the employer...) to find the offers that best fit your expectations
                        </li>
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/recommendation-icon.png" alt="">
                            </span>
                            The more quality services you offer, the more community members will give you positive feedback on your benefits, which will increase your chances of being selected faster
                        </li>
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/userquestion-icon.png" alt="">
                            </span>
                            <strong>If you still have any questions about how this platform works, go to the next section <a href="#">"Frequently Asked questions" (FAQ)</a></strong>
                        </li>
                    </ul>
                    <a href="/Account/Register?userRole=Candidate"><button type="button" class="btn btn-style-1 btn-lg waves wow fadeInDown">Start registration&nbsp;<i class="fa fa-arrow-right"></i></button></a>
</div>
                <div class="col-md-5">
                    <div class="half-circle-image wow fadeInRight">
                        <img src="~/assets/images/portfolio/candidate-half.jpg" alt="Candidate">
                    </div>
                </div>
            </div>
        </section>


    </div><!-- PAGE CONTENT -->
</div>
