<style>
    #mySidenav {
        display: none;
    }
</style>
<div id="main-container">

    <!-- PAGE CONTENT -->
    <div id="page-content">
        <div id="page-header">
            <div class="ken-burns" style="background-image:url(../images/backgrounds/page-header-1.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>CONTACTEZ -NOUS</h1>
                        @*<ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">About us</li>
                            </ol>*@
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- page-header -->


        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="address">
                                    <p>
                                        Si vous avez des questions ou des remarques quelconques , n’hésitez pas à nous contacter à l’aide du formulaire de contact. Nous vous répondrons dans les plus brefs délais.
                                    </p>
                                    <div class="address-content">
                                        <h3>
                                            <i class="fa fa-clock-o"></i>Heures d'ouverture
                                        </h3>
                                        <p>
                                            9h à 18h
                                        </p>
                                    </div>
                                    <div class="address-content">
                                        <h3>
                                            <i class="fa fa-envelope"></i>Mail
                                        </h3>
                                        <p>
                                            <a href="#">Jobtek.ci@gmail.com</a>
                                        </p>
                                    </div>
                                    <div class="address-content">
                                        <h3>
                                            <i class="fa fa-phone"></i>Tel
                                        </h3>
                                        <p>
                                            +225 01-93-48-39
                                        </p>
                                    </div>
                                    <div class="address-content">
                                        <h3>
                                            <i class="fa fa-map-marker"></i>Adresse
                                        </h3>
                                        <p>
                                            Abidjan (Côte d'Ivoire)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-area">
                                    <h1>Formulaire de contact</h1>
                                    <p>Remplissez votre demande ici</p>
                                    <form>
                                        <input type="text" class="form-control" placeholder="Prénom">
                                        <input type="email" class="form-control" placeholder="Email">
                                        <textarea id="comment" class="form-control mb-3" name="comment" rows="6" placeholder="Message"></textarea>
                                        <button class="btn btn-style-1 btn-block waves" id="submit" type="submit" name="submit" value="">Soumettre</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div><!-- PAGE CONTENT -->
</div>
