
<div id="main-container">
    <!-- HEADER -->
    <!-- HEADER -->
    <!-- PAGE CONTENT -->
    <!-- PAGE CONTENT -->
    <div id="page-content">
        <div id="page-header">
            <div class="ken-burns" style="background-image:url(../images/backgrounds/page-header-1.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Employer</h1>
                        @*<ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">About us</li>
                            </ol>*@
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- page-header -->


        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                        <h2>SOME INFO BEFORE REGISTERING</h2>
                        <h5>What is the purpose of the inscription?</h5>
                    </div><!-- headline -->
                </div>
                <div class="col-md-7">
                    <ul class="info-list wow fadeInLeft">
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/register-icon.png" alt="">
                            </span>
                            Registration will allow you to register as a new member on the platform
                        </li>
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/search-icon.png" alt="">
                            </span>
                            This will also allow you to create your own personal account where you can do your research or create your job offers
                            <div><a href="#">Once registered?</a></div>
                        </li>
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/recommendation-icon.png" alt="">
                            </span>
                            Participate in the building of a trusted platform, noting the profiles hired and Signal all profiles that would seem suspicious in the community
                        </li>
                        <li>
                            <span class="icon">
                                <img src="~/assets/images/filter-icon.png" alt="">
                            </span>
                            This platform works with filters that identify your search criteria (localization, age, experience...) and search all the network of candidates that corresponds to your criteria
                            <br />
                            <strong><i class="fa fa-arrow-right"></i>&nbsp;the quality and precision of your created job offers will make your success</strong>

                        </li>
                    </ul>
                    <a href="/Account/Register?userRole=Employer"><button type="button" class="btn btn-style-1 btn-lg waves wow fadeInDown">Start registration&nbsp;<i class="fa fa-arrow-right"></i></button></a>
                </div>
                <div class="col-md-5">
                    <div class="half-circle-image wow fadeInRight">
                        <img src="~/assets/images/portfolio/employer-half.jpg" alt="Employer">
                    </div>
                </div>
            </div>
        </section>

    </div><!-- PAGE CONTENT -->
</div>
