<style>
    #mySidenav{
        display:none;
    }
</style>
<div id="main-container">

    <!-- PAGE CONTENT -->
    <div id="page-content">
        <div id="page-header">
            <div class="ken-burns" style="background-image:url(../images/backgrounds/page-header-1.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>FOIRE AUX QUESTIONS</h1>
                        @*<ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">About us</li>
                            </ol>*@
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- page-header -->


        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center mb-3 wow fadeInDown">
                        <h2><span class="text-red">F</span>OIRE <span class="text-red">A</span>UX <span class="text-red">Q</span>UESTIONS (<span class="text-red">FAQ</span>)</h2>
                    </div><!-- headline -->
                </div>
            </div>
        </section>
        <div class="full-section-container">
            <div class="container-fluid">
                <div class="row wow fadeInUp">
                    <div class="col-sm-3">
                        <img src="~/assets/images/FAQ-agency.jpg" alt="" style="width:100%;">
                    </div>
                    <div class="col-sm-9">
                        <h5>QUESTIONS RELATIVES A LA VERIFICATION SUR LA PLATEFORME:</h5>
                        <div class="accordion square" id="profilemanagement">
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#profilemanagement-1" aria-expanded="true">Quelles sont les pièces d’identité valables pour la vérification?</a>
                                </div><!-- accordion-title -->
                                <div id="profilemanagement-1" class="collapse show" data-parent="#profilemanagement">
                                    <div class="accordion-body">
                                        <p>
                                            Nous acceptons soit une pièce d’identité nationale , soit un passeport.
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#profilemanagement-2">Qui peut voir ma pièce d’identité enregistrée sur la plateforme?</a>
                                </div><!-- accordion-title -->
                                <div id="profilemanagement-2" class="collapse" data-parent="#profilemanagement">
                                    <div class="accordion-body">
                                        <p>
                                            La pièce d’identité enregistrée n’est pas visible par les autres utilisateurs. Elle est visible que par l’admin pour vérifier les profils utilisateurs
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#profilemanagement-3">Quels sont les éléments requis pour faire une demande de vérification?</a>
                                </div><!-- accordion-title -->
                                <div id="profilemanagement-3" class="collapse" data-parent="#profilemanagement">
                                    <div class="accordion-body">
                                        <p>
                                            Pour faire vérifier son profil, il faut:
                                            &nbsp;&nbsp;1- Mettre une photo de profil
                                            &nbsp;&nbsp;2-Enregistrer ses infos personnels (Nom, prénom et âge)
                                            &nbsp;&nbsp;3-Enregistrer une pièce d’identité conforme aux infos personnels
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#profilemanagement-4">Est-il possible de mettre à jour ses infos personnelles après la création de son compte?</a>
                                </div><!-- accordion-title -->
                                <div id="profilemanagement-4" class="collapse" data-parent="#profilemanagement">
                                    <div class="accordion-body">
                                        <p>
                                            Il est possible de mettre à jour ses infos personnels (Nom, âge, adresse, contacts..) depuis ses réglages. Cependant, une fois que le profil est vérifié, les infos liées à l’identité  (Nom, prénom et âge) ne sont plus modifiables
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                        </div><!-- accordion -->
                    </div><!-- col -->
                </div><!-- row -->

                <div class="row mt-5 wow fadeInUp">
                    <div class="col-sm-3">
                        <img src="~/assets/images/search-profile.jpg" alt="" style="width:100%;">
                    </div>
                    <div class="col-sm-9">
                        <h5>QUESTIONS GENERALE SUR L’UTILISATION DE LA PLATEFORME:</h5>
                        <div class="accordion square" id="jobrequest">
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#jobrequest-1">Est-il possible de gérer la visibilité de mes contacts?</a>
                                </div><!-- accordion-title -->
                                <div id="jobrequest-1" class="collapse" data-parent="#jobrequest">
                                    <div class="accordion-body">
                                        <p>
                                            Oui. Depuis vos paramètres, vous pourrez décocher l’un de vos contacts (Tel ou email) pour qu’il soit invisible des autres utilisateurs
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#jobrequest-2">Comment puis-je apprendre à utiliser les fonctionnalités de la plateforme?</a>
                                </div><!-- accordion-title -->
                                <div id="jobrequest-2" class="collapse" data-parent="#jobrequest">
                                    <div class="accordion-body">
                                        <p>
                                            Une fois votre compte créé, vous accèderez à une série de tutoriels en vidéo disponibles depuis votre section « Tableau de bord »
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#jobrequest-3">Quels sont les actions préconisées après ma mise en relation avec un profil?</a>
                                </div><!-- accordion-title -->
                                <div id="jobrequest-3" class="collapse" data-parent="#jobrequest">
                                    <div class="accordion-body">
                                        <p>
                                            Une fois que vous êtes mis en relation avec un profil, vous devez supprimer votre annonce depuis votre section « Mes offres/demandes d’emploi » afin que votre annonce devenue obsolète ne soit plus visible des autres utilisateurs
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#jobrequest-4">Quand je recherche un profil « Agence », ai-je accès aux détails de l’agence embauchant ce profil?</a>
                                </div><!-- accordion-title -->
                                <div id="jobrequest-4" class="collapse" data-parent="#jobrequest">
                                    <div class="accordion-body">
                                        <p>
                                            Oui. Lorsque vous lancez une recherche de candidat et que vous trouvez des profils agence, vous avez accès aux détails de l’agence (Nom, localisation, SiteWeb, contacts…)
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->


                        </div><!-- accordion -->
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div>
    </div><!-- PAGE CONTENT -->
</div>
