
<div id="main-container">

    <!-- PAGE CONTENT -->
    <div id="page-content">
        <div id="page-header">
            <div class="ken-burns" style="background-image:url(../images/backgrounds/page-header-1.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>FREQUENTLY ASKED QUESTIONS (FAQ)</h1>
                        @*<ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">About us</li>
                            </ol>*@
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- page-header -->


        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center mb-3 wow fadeInDown">
                        <h2><span class="text-red">F</span>requently <span class="text-red">A</span>sked <span class="text-red">Q</span>uestions (<span class="text-red">FAQ</span>)</h2>
                    </div><!-- headline -->
                </div>
            </div>
        </section>
        <div class="full-section-container">
            <div class="container-fluid">
                <div class="row wow fadeInUp">
                    <div class="col-sm-3">
                        <img src="~/assets/images/FAQ-profile.jpg" alt="" style="width:100%;">
                    </div>
                    <div class="col-sm-9">
                        <h5>QUESTIONS/ANSWERS ON PROFILE MANAGEMENT</h5>
                        <div class="accordion square" id="profilemanagement">
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#profilemanagement-1" aria-expanded="true">Does putting a profile photo is mandatory?</a>
                                </div><!-- accordion-title -->
                                <div id="profilemanagement-1" class="collapse show" data-parent="#profilemanagement">
                                    <div class="accordion-body">
                                        <p>
                                            No. However profiles are photo profiles are poorly seen on the platform as they do not inspire confidence
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#profilemanagement-2">What are the conforming pieces of identification?</a>
                                </div><!-- accordion-title -->
                                <div id="profilemanagement-2" class="collapse" data-parent="#profilemanagement">
                                    <div class="accordion-body">
                                        <p>
                                            National ID or passport (other types of documents: Driver's license.. will not be accepted)
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#profilemanagement-3">Is it mandatory to put an identity photo?</a>
                                </div><!-- accordion-title -->
                                <div id="profilemanagement-3" class="collapse" data-parent="#profilemanagement">
                                    <div class="accordion-body">
                                        <p>
                                            No. However it is strongly recommended for candidate profiles to download one in order to have the Green logo "profile verified" which is highly sought by employers especially for sensitive professions like nanny, childcare..
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#profilemanagement-4">Is it possible to change your personal information (surname, first name, age or photo) before having your ID validated by an admin?</a>
                                </div><!-- accordion-title -->
                                <div id="profilemanagement-4" class="collapse" data-parent="#profilemanagement">
                                    <div class="accordion-body">
                                        <p>
                                            Yes, it is possible to change his personal info (surname First name, profile photo...) As long as the profile has not yet been validated by the admin. 
                                            This is why employers are suspicious of candidate profiles that are not verified
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->

                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#profilemanagement-5">Is it possible to create a job application before having the profile verified by the admin?</a>
                                </div><!-- accordion-title -->
                                <div id="profilemanagement-5" class="collapse" data-parent="#profilemanagement">
                                    <div class="accordion-body">
                                        <p>
                                            Yes, it is possible to create a request even before the validation of the admin. However employers who will see that you do not yet have the green "profile verified" logo can be suspicious of your offer 
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->

                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#profilemanagement-6">Is it possible to change his personal information (surname, first name, age or photo) after having his ID validated by an admin?</a>
                                </div><!-- accordion-title -->
                                <div id="profilemanagement-6" class="collapse" data-parent="#profilemanagement">
                                    <div class="accordion-body">
                                        <p>
                                            No. All information related to your identity (profile Photo, identity document, surname, first name and age) is no longer editable. 
                                            You will be able to update other information such as: your tel number, your email address, your place of residence
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                        </div><!-- accordion -->
                    </div><!-- col -->
                </div><!-- row -->

                <div class="row mt-5 wow fadeInUp">
                    <div class="col-sm-3">
                        <img src="~/assets/images/FAQ-jobrequestcreations.jpg" alt="" style="width:100%;">
                    </div>
                    <div class="col-sm-9">
                        <h5>QUESTIONS/ANSWERS ABOUT JOB REQUEST CREATION</h5>
                        <div class="accordion square" id="jobrequest">
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#jobrequest-1">Is it possible to add images to my job application?</a>
                                </div><!-- accordion-title -->
                                <div id="jobrequest-1" class="collapse" data-parent="#jobrequest">
                                    <div class="accordion-body">
                                        <p>
                                            Yes. The number of images is limited to 3. The images are used to highlight the service you wish to offer. (Example: For an offer of hairdresser, you can put 3 examples of hairstyles that you know how to do)
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#jobrequest-2">Is my application visible to employers as soon as I submit it?</a>
                                </div><!-- accordion-title -->
                                <div id="jobrequest-2" class="collapse" data-parent="#jobrequest">
                                    <div class="accordion-body">
                                        <p>
                                            No. You have to wait for an Admin to validate it before it is visible in the employer search result
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#jobrequest-3">Is it possible to delete an application once I have been hired by an employer? </a>
                                </div><!-- accordion-title -->
                                <div id="jobrequest-3" class="collapse" data-parent="#jobrequest">
                                    <div class="accordion-body">
                                        <p>
                                            Yes, it is possible to delete a request at any time from your user account in your "Managing My Requests" section
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#jobrequest-4">Is it possible to display only my email address and not my tel number on my application?</a>
                                </div><!-- accordion-title -->
                                <div id="jobrequest-4" class="collapse" data-parent="#jobrequest">
                                    <div class="accordion-body">
                                        <p>
                                            Yes. If you do not wish to be contacted on your own, you can make your mail appear in your created application. This is done in your "Manage my Settings" section with the "Set your contact option" option
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->


                        </div><!-- accordion -->
                    </div><!-- col -->
                </div><!-- row -->

                <div class="row mt-5 wow fadeInUp">
                    <div class="col-sm-3">
                        <img src="~/assets/images/FAQ-agency.jpg" alt="" style="width:100%;">
                    </div>
                    <div class="col-sm-9">
                        <h5>QUESTIONS/ANSWERS RELATED TO AGENCY</h5>
                        <div class="accordion square" id="agency">
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#agency-1">Who can be considered an agency profile?</a>
                                </div><!-- accordion-title -->
                                <div id="agency-1" class="collapse" data-parent="#agency">
                                    <div class="accordion-body">
                                        <p>
                                            We consider as an agency any organization of qualified people with at least one seat (address...) or a good reputation on the net and social networks.
                                            This can be: an employment agency (nanny...) A qualifying training (speciality kitchen, beautician..), Pedagogical Center (school support)....
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#agency-2">Can anyone create an agency profile?</a>
                                </div><!-- accordion-title -->
                                <div id="agency-2" class="collapse" data-parent="#agency">
                                    <div class="accordion-body">
                                        <p>
                                            No. The agency profile is reserved for our partners who offer qualified profiles and who have accepted our strict conditions of checking identities and skills of the profiles proposed on the platform
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#agency-3">What are the agency-specific features?</a>
                                </div><!-- accordion-title -->
                                <div id="agency-3" class="collapse" data-parent="#agency">
                                    <div class="accordion-body">
                                        <p>
                                            The agency profiles can register all their members from their user accounts. All their registered members will have the "agency" profile which is highly appreciated by employers.
                                            The agencies have the duty to check the identity documents of their members and can thus give their members the logo verified profile. However, an audit is regularly done by the admin of the platform to make sure that the agencies do not give the logo has profiles without identity documents. Agencies abusing this feature will be removed from the platform
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                        </div><!-- accordion -->
                    </div><!-- col -->
                </div><!-- row -->

                <div class="row mt-5 wow fadeInUp">
                    <div class="col-sm-3">
                        <img src="~/assets/images/FAQ-functionalities.jpg" alt="" style="width:100%;">
                    </div>
                    <div class="col-sm-9">
                        <h5>QUESTIONS/ANSWERS RELATED TO NEW FUNCTIONNALITIES</h5>
                        <div class="accordion square" id="functionalities">
                            <div class="accordion-panel">
                                <div class="accordion-title">
                                    <a href="#" data-toggle="collapse" data-target="#functionalities-1">Are you going to propose new features in the coming weeks?</a>
                                </div><!-- accordion-title -->
                                <div id="functionalities-1" class="collapse" data-parent="#functionalities">
                                    <div class="accordion-body">
                                        <p>
                                            Yes. We are in a continuous improvement logic to offer you a tool that best meets your expectations.
                                            Depending on the remarks you will make (from the "Contact Us" section, we will evaluate the most requested ones and we'll
                                            add them for you as soon as possible. So do not hesitate if you have ideas such as:
                                        </p>
                                        <p>
                                            <ul>
                                                <li>
                                                    Add new trades that you would like to have (eg: care and education of pets, chauffeur at home, Couturier...)
                                                </li>
                                                <li>
                                                    Add new useful features (eg: be alerted by email or SMS as soon as an offer corresponding to your criteria has just been created on the platform)
                                                </li>
                                                <li>
                                                    Add to the discussion thread platform where all members can share their experience in relation to the services where to discuss various other topics to consolidate the community
                                                </li>
                                            </ul>
                                            To share us any idea of improving your features, take a few seconds to do so in the next tab <a href="#">"Contact Us"</a>
                                        </p>
                                    </div><!-- accordion-body -->
                                </div><!-- collapse -->
                            </div><!-- accordion-panel -->
                        </div><!-- accordion -->
                    </div><!-- col -->
                </div><!-- row -->


            </div><!-- container -->
        </div>
    </div><!-- PAGE CONTENT -->
</div>
