<style>
    .owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
        display: none;
    }
</style>



    <div id="page-content" style="padding:0 0 30px 0;">
        <div class="hr mt-0 ml-3 mr-3 ml-xl-5 mr-xl-5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="headline text-center mb-1 wow fadeInDown">
                        <h2>What is JOBTEK?</h2>
                        <h5><strong style="color:#fe005a;">JOBTEK</strong> is a platform for connecting home employers and candidates & designed to offer you a simple, fast & efficient search experience</h5>
                    </div><!-- headline -->

                </div><!-- col -->
            </div><!-- row -->
        </div>

        <section class="team-section full-section dark-section parallax" id="section-33">
            <div class="full-section-overlay" data-overlay-opacity="13" data-overlay-color="linear-gradient(left, #ff005a, #310068)" style="opacity: 0.3;"></div>
            <div class="full-section-container">
                <div class="container">
                    <div class="team-wrapper  wow fadeInUp">
                        <div class="row">
                            
                            <div class="col-sm-12 col-lg-4">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <a href="#"><img src="~/assets/images/employer.jpg" alt=""></a>
                                            <div class="team-content-holder">
                                                <div class="personal-info">
                                                    <h3>Employer</h3>
                                                    <a class="btn btn-style-1 waves" href="#">Start Here</a>
                                                </div>
                                                <!-- .awsm-personal-info -->
                                                <div class="team-contact-info">
                                                    <p>You are looking for a short term home service (nanny, Cook...) or occasional (troubleshooting, braiding, Esthetician...)</p>
                                                    @*<a class="btn btn-style-1 waves" href="#">Start Here</a>*@
                                                    @Html.ActionLink("Start Here", "EmployerInfo", "Home", new { @class = "btn btn-style-1 waves" })
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            
                            <div class="col-sm-12 col-lg-4">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <a href="#"><img src="~/assets/images/candidate.jpg" alt=""></a>
                                            <div class="team-content-holder">
                                                <div class="personal-info">
                                                    <h3>Candidat</h3>
                                                    <a class="btn btn-style-1 waves" href="#">Start Here</a>
                                                </div>
                                                <!-- .awsm-personal-info -->
                                                <div class="team-contact-info">
                                                    <p>You are looking for a home job to propose a qualified service for long term service (nanny, Guardian…) or a short term  (School support, ceremony organization…)</p>
                                                    @Html.ActionLink("Start Here", "CandidatInfo", "Home", new { @class = "btn btn-style-1 waves" })
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-4">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <a href="#"><img src="~/assets/images/agency.jpg" alt=""></a>
                                            <div class="team-content-holder">
                                                <div class="personal-info">
                                                    <h3>Agency</h3>
                                                    <a class="btn btn-style-1 waves" href="#">Start Here</a>
                                                </div>
                                                <!-- .awsm-personal-info -->
                                                <div class="team-contact-info">
                                                    <p>You are looking for new candidates to hire or home employer for your candidates. You would like to manage efficiently your research</p>
                                                    @Html.ActionLink("Start Here", "AgencyInfo", "Home", new { @class = "btn btn-style-1 waves" })
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="page-content" style="padding-bottom:0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="headline text-center wow fadeInDown">
                        <h2>STRONG POINTS OF JOBTEK</h2>
                        @*<h5>We guarantee you a unique experience on this platform</h5>*@
                    </div><!-- headline -->

                </div><!-- col -->
            </div><!-- row -->
        </div>
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-3 col-sm-6 wow fadeInLeft" data-wow-delay="0.1s">
                    <div class="service-box style-5">
                        <span>
                        @*<i class="bizhub-icon-television"></i>*@
                            <img src="~/assets/images/multiservice.png" />
                        </span>
                        <div class="service-box-content">
                            <h5><a href="single-service.html">MULTI SERVICES AT HOME</a></h5>
                            <p>Offer you long term services of quality (nanny, Cook...) but also occasional services of professionals (troubleshooting, Estheticians...)</p>
                        </div><!-- service-box-content -->
                    </div><!-- service-box -->
                </div><!-- col -->
                <div class="col-lg-3 col-sm-6 wow fadeInLeft">
                    <div class="service-box style-5">
                        <span>
                        @*<i class="bizhub-icon-photo-camera"></i>*@
                            <img src="~/assets/images/filter.png" />
                        </span>
                        <div class="service-box-content">
                            <h5><a href="single-service.html">FILTRE BY MULTI CRITERIA</a></h5>
                            <p>Target with a few clicks the ideal profile thanks to the panoply of customized criteria put at your disposal (agency profile, read/write, verified ID...)</p>
                        </div><!-- service-box-content -->
                    </div><!-- service-box -->
                </div><!-- col -->
                <div class="col-lg-3 col-sm-6 wow fadeInRight">
                    <div class="service-box style-5">
                        <span>
                        @*<i class="bizhub-icon-note"></i>*@
                            <img src="~/assets/images/mission.png" />
                        </span>
                        <div class="service-box-content">
                            <h5><a href="single-service.html">PRECISION & CLARITY</a></h5>
                            <p>The accuracy of the profile info displayed will allow you to make in a few seconds a clear opinion if the candidate meets your expectations</p>
                        </div><!-- service-box-content -->
                    </div><!-- service-box -->
                </div><!-- col -->
                <div class="col-lg-3 col-sm-6 wow fadeInRight" data-wow-delay="0.1s">
                    <div class="service-box style-5">
                        <span>
                        @*<i class="bizhub-icon-smartphone"></i>*@
                            <img src="~/assets/images/recommendation.png" />
                        </span>
                        <div class="service-box-content">
                            <h5><a href="single-service.html">NOTES & RECOMMENDATIONS</a></h5>
                            <p>Use feedback from the "JOBTEK community" to identify confidence profiles and guide your choice</p>
                        </div><!-- service-box-content -->
                    </div><!-- service-box -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- PAGE CONTENT -->

    <div id="page-content" style="padding-bottom:0;" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center wow fadeInDown">
                        <h2>Long Term Services</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel blog-articles-slider">
                        <div class="item">
                            <div class="servicebox-wrapper">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <div class="personal-info">
                                                <img src="~/assets/images/portfolio/cook1.jpg" alt="">
                                            </div>
                                            <div class="team-content-holder">
                                                <div class="team-contact-info">
                                                    <p>
                                                        Professionnal Cook to prepare dishes for you from around the world (Africain / European..)
                                                    </p>
                                                </div>
                                            </div>
                                            <h3>Cook</h3>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="servicebox-wrapper">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <div class="personal-info">
                                                <img src="~/assets/images/portfolio/nanny1.jpg" alt="">
                                            </div>
                                            <div class="team-content-holder">
                                                <div class="team-contact-info">
                                                    <p>
                                                        Professionnal nannies to take care of your children
                                                    </p>
                                                    <p>or maid to mantain you home clean</p>
                                                </div>
                                            </div>
                                            <h3>Nanny</h3>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="servicebox-wrapper">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <div class="personal-info">
                                                <img src="~/assets/images/portfolio/guardian1.jpg" alt="">
                                            </div>
                                            <div class="team-content-holder">
                                                <div class="team-contact-info">
                                                    <p>
                                                        Guardian (to protect your home)
                                                    </p>
                                                    <p>
                                                        or Bodyguard (to escort and protect you on daily basis)
                                                    </p>
                                                </div>
                                            </div>
                                            <h3>Guardian</h3>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="servicebox-wrapper">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <div class="personal-info">
                                                <img src="~/assets/images/portfolio/music1.jpg" alt="">
                                            </div>
                                            <div class="team-content-holder">
                                                <div class="team-contact-info">
                                                    <p>
                                                        Professionnal trainers to help you or your children to learn how to play various music instrument
                                                    </p>
                                                </div>
                                            </div>
                                            <h3>Music courses</h3>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="servicebox-wrapper">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <div class="personal-info">
                                                <img src="~/assets/images/portfolio/schoolsupport.jpg" alt="">
                                            </div>
                                            <div class="team-content-holder">
                                                <div class="team-contact-info">
                                                    @*<p>
                                                        Professionnal Cook to prepare dishes for you from around the world (Africain / European..)
                                                    </p>*@
                                                </div>
                                            </div>
                                            <h3>School support</h3>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page-content" style="padding-bottom:0;" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="headline text-center wow fadeInDown">
                        <h2>Short Term Services</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel blog-articles-slider">
                        <div class="item">
                            <div class="servicebox-wrapper">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <div class="personal-info">
                                                <img src="~/assets/images/portfolio/esthetician.jpg" alt="">
                                            </div>
                                            <div class="team-content-holder">
                                                <div class="team-contact-info">
                                                    @*<p>
                                                        Professionnal Cook to prepare dishes for you from around the world (Africain / European..)
                                                    </p>*@
                                                </div>
                                            </div>
                                            <h3>Esthetician</h3>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="servicebox-wrapper">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <div class="personal-info">
                                                <img src="~/assets/images/portfolio/hairdressing.jpg" alt="">
                                            </div>
                                            <div class="team-content-holder">
                                                <div class="team-contact-info">
                                                    @*<p>
                                                        Professionnal nannies to take care of your children
                                                    </p>
                                                    <p>or maid to mantain you home clean</p>*@
                                                </div>
                                            </div>
                                            <h3>Hairdressing</h3>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="servicebox-wrapper">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <div class="personal-info">
                                                <img src="~/assets/images/portfolio/electrician1.jpg" alt="">
                                            </div>
                                            <div class="team-content-holder">
                                                <div class="team-contact-info">
                                                    @*<p>
                                                        Guardian (to protect your home)
                                                    </p>
                                                    <p>
                                                        or Bodyguard (to escort and protect you on daily basis)
                                                    </p>*@
                                                </div>
                                            </div>
                                            <h3>Electrician</h3>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="servicebox-wrapper">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <div class="personal-info">
                                                <img src="~/assets/images/portfolio/plumber1.jpg" alt="">
                                            </div>
                                            <div class="team-content-holder">
                                                <div class="team-contact-info">
                                                    @*<p>
                                                        Professionnal trainers to help you or your children to learn how to play various music instrument
                                                    </p>*@
                                                </div>
                                            </div>
                                            <h3>Plumber</h3>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="servicebox-wrapper">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <div class="personal-info">
                                                <img src="~/assets/images/portfolio/Ceremony1.jpg" alt="">
                                            </div>
                                            <div class="team-content-holder">
                                                <div class="team-contact-info">
                                                    @*<p>
                                                            Professionnal Cook to prepare dishes for you from around the world (Africain / European..)
                                                        </p>*@
                                                </div>
                                            </div>
                                            <h3>Ceremony</h3>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="servicebox-wrapper">
                                <div class="team-column">
                                    <figure>
                                        <div class="grid-holder">
                                            <div class="personal-info">
                                                <img src="~/assets/images/portfolio/catering1.jpg" alt="">
                                            </div>
                                            <div class="team-content-holder">
                                                <div class="team-contact-info">
                                                    @*<p>
                                                        Professionnal Cook to prepare dishes for you from around the world (Africain / European..)
                                                    </p>*@
                                                </div>
                                            </div>
                                            <h3>Home catering</h3>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
